@model IEnumerable<hiophop.Models.ApplicationUser>
@{
    ViewBag.Message = "jp";
    
}
@*<h3>@ViewBag.x</h3>

<div>
    @Html.ActionLink("Hello " + User.Identity.Name + " " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</div>*@